.nav{
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    height: 60px;
   /*  padding: 10px; */
    justify-content: space-between;
    /* margin: 10px; */
    background-color: #010101ee;
    z-index: 1;
    /* opacity: 0%; */
}

.nav__logo {
    position: fixed;
    left:20;
    width: 80px;
    object-fit: contain;
    padding: 10px;

    /* fixes the aspect ratio acording to the width */ 
}
.nav__avatar {
    position:fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    padding: 10px;
    /* fixes the aspect ratio acording to the width */ 
}